<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>

     <a href="/user">

          <h1>Create new file</h1>
     </a>

     <h1>All file </h1>
     <% data.forEach(function(file){ %>
          
          <h3>file Name: <%=file %> </h3>
          <a href="/delete/<%=file%>">delete</a>
     <% }) %>
</body>
</html>