<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <style>
          .conatiner {
               display: flex;
               justify-content: center;
               align-items: center;
               height: 100vh;
          }
          .profile{
               width: 200px;
               height: 200px;
               background-color: #f1f1f1;
               border-radius: 50%;
          }
          .profile h3{
               color:gray;
          }
     </style>
</head>
<body>
     <div class="container">
          <div class="profile">
               <h1>user id :<%=userid%></h1>

          </div>
     </div>
</body>
</html>